<form ngForm (submit)="onSubmit($event); assignmentForm.reset();"
#assignmentForm 
class="form">
  <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="dateRendu" name="date">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>   
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  <mat-form-field>   
      <mat-label>Favorite food</mat-label>
    <input type="text" matInput placeholder="nom" [(ngModel)]="nomAssignment" name="nom">
  </mat-form-field>
  <button mat-stroked-button 
          [disabled]="(((!this.nomAssignment)|| (!this.dateRendu)))"
         color="primary">
    Ajouter un devoir <!-- [disabled]="!bouttonActif"-->
  </button>
</form>